<%= form_for(@client) do |f| %>


  <fieldset class="email_fieldset">
  <legend>To obtain a pdf summary by email</legend>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, size: 40 %>
  </div>

  <div class="actions">
    <%= submit_tag "Send email" %>
  </div>

    <p><%= link_to "PDF", pdf_path("pdf") %></p>


    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </fieldset>


<% end %>

       <%= image_tag("logo_equipe.jpg")%>