<!DOCTYPE html>
<html>
<head>
  <title>Équipe Immobilière Duault Jean-Baptiste</title>



   <%= stylesheet_link_tag   "application" %>




  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <script>
  $(document).ready(function(){

  });
  </script>
</head>
<body >
             <div class="brand2">
            <%= image_tag("logo_equipe.jpg")%>
          </div>
    <div class="topbar" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#">L'Équipe Immobilière</a>
          <ul class="nav">
             <li class="active"><a href="#financial">Financial Analysis</a></li>
            <li><a href="#admin">Admin</a></li>

          </ul>
        </div>
      </div>
    </div>


<div class="container-fluid">

<div id="main" class="equipeimmobiliere" class="content">

<%= yield %>
</div>
    </div>

</body>
</html>
