<!DOCTYPE html>
<html>
<head>
  <title>Equipeimmobiliere</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "finance" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
              Equipe Immobiliere
<% if session[:user_id] %>
    <ul>
      <li><%= link_to 'Users',	users_path	%></li>
    </ul>
    <%= button_to 'Logout', logout_path, method: :delete	%>
<% end %>

<%= yield %>

</body>
</html>
